<div class="buttons_row">
    <ul style="float: left">
        <li>
            <a id="back_button" href="<?php echo $this->baseUrl().'/'; ?>" class="btn">Back</a>
        </li>
    </ul>  
    <ul style="float: right">
    <?php if($this->url() == $this->baseUrl().'/' || $this->url() == $this->baseUrl().'/view/full') {  ?>
        <li>
            <?php $url = ($this->url() == $this->baseUrl().'/') ? $this->baseUrl().'/view/full/' : $this->baseUrl().'/'; ?>
            <a id="switch_button" href="<?php echo $url; ?>" class="btn">Switch view</a>
        </li>
            <?php } ?>
    </ul>
</div>
<div class="wrapper">
<div class="container">
<div class="forum_line">
    <div class="forum_head">
        <div class="forum_title">Title</div>
        <div class="forum_author">Started by</div>
        <div class="forum_date">Updated</div>
        <div class="forum_last">Last comment</div>
        <div class="forum_counter">Posts</div>
    </div>
</div>

<?php 
$categories = array(1 => 'Important', 2 => 'Emergency');
if(!empty($this->records)) {
    foreach($this->records as $record) { 
?>
<div class="forum_line">
    <div class="forum_title">
        <?php if(in_array($record->getCategory(), array(1,2))) { ?> 
        <span class="post_type">
            <a <?php echo ($record->getCategory() == '2') ? 'style="color: #980000"' : 'style="color: #006600"'; ?>" href="<?php echo $this->baseUrl().'/category/'.strtolower($categories[$record->getCategory()]); ?>"><?php echo $categories[$record->getCategory()] ?>
            </a> :
        </span>
        <?php } ?>
        <a class="<?php echo ($record->getRead()) ? '' : 'unread'; ?>" href="<?php echo $this->baseUrl().'/record/'.$record->getId(); ?>"><?php echo $this->escape($record->getTitle()); ?></a>
    </div>
    <div class="forum_author"><?php echo $this->escape($record->getUserName()); ?></div>
    <div class="forum_date"><?php echo $record->getDateCreated(); ?></div>
    <div class="forum_last"><?php echo ($record->getLastPoster()) ? $record->getLastPoster(): '-'; ?></div>
    <div class="forum_counter"><?php echo $record->getCommentCount(); ?></div>
</div>       
<?php 
    }
}
?>
</div>
</div>