<div class="buttons_row">
    <ul style="float: left">
        <li>
            <a id="text_up" href="javascript: text_size(1, <?php echo $this->uid; ?>, <?php echo ($this->view_type != 'full') ? '1' : '0'; ?>);" title="Increase title size"></a>
            <a id="text_down" href="javascript: text_size(0, <?php echo $this->uid; ?>, <?php echo ($this->view_type != 'full') ? '1' : '0'; ?>);" title="Decrease title size"></a>
        </li> 
    </ul>
    <ul style="float: right">
        <li style="margin-right: 5px; width: 55px;" title="Seconds left till update">
            <a id="update_timer">120</a>
        </li>
        <li style="margin-right: 5px;">
            <a id="show_online" href="#" class="btn">Who's online</a>
        </li>
        <li>
            <?php $url = (empty($this->view_type)) ? $this->baseUrl().'/view/full/' : $this->baseUrl().'/'; 
            if(!empty($this->page)) {
                $url .= 'page/'.$this->page;
            }
            ?>
            <a id="switch_button" href="<?php echo $url; ?>" class="btn">Switch view</a>
        </li>
    </ul>
</div>

<div class="wrapper">
<div class="container" style="font-size: <?php echo $this->text_size.'px;'; ?>">
<?php 
$categories = array(1 => 'Important', 2 => 'Emergency');
if($this->view_type != 'full') {
?>
    <div class="forum_line">
        <div class="forum_head">
            <div style="width:518px; float: left;">Title</div>
            <div class="forum_author">Started by</div>
            <div class="forum_date">Created</div>
            <div class="forum_last">Last comment</div>
            <div class="forum_counter">Posts</div>
        </div>
    </div>

    <?php 
    if(!empty($this->records)) {
        foreach($this->records as $record) { 
    ?>
    <div class="forum_line">
        <div class="forum_title">
            <?php if(in_array($record->getCategory(), array(1,2))) { ?> 
            <span class="post_type">
                <a <?php echo ($record->getCategory() == '2') ? 'style="color: #980000"' : 'style="color: #006600"'; ?>" href="<?php echo $this->baseUrl().'/category/'.strtolower($categories[$record->getCategory()]); ?>"><?php echo $categories[$record->getCategory()] ?>
                </a> :
            </span>
            <?php } ?>
            <a class="<?php echo ($record->getRead()) ? '' : 'unread'; ?>" href="<?php echo $this->baseUrl().'/record/'.$record->getId(); ?>"><?php echo $this->escape($record->getTitle()); ?></a>
        </div>
        <div class="forum_author"><?php echo $this->escape($record->getUserName()); ?></div>
        <div class="forum_date"><?php echo $record->getDateCreated(); ?></div>
        <div class="forum_last"><?php echo ($record->getLastPoster()) ? $record->getLastPoster(): '-'; ?></div>
        <div class="forum_counter"><?php echo $record->getCommentCount(); ?></div>
    </div>        
    <?php 
        }
    }
} else {  
foreach($this->records as $record) {
?>
    <div class="record">
        <div class="_left">
            <div class="record_author">
                <?php echo (in_array($record->getCategory(), array(1,2))) ? ($record->getCategory() == 2) ? "<span class='_red'>Emergency record</span><br />" : "<span class='_green'>Important record</span><br />" : ''; ?>
                <strong>Started by: </strong><?php echo $this->escape($record->getUserName()); ?><br />
                <strong>Created: </strong><?php echo $record->getDateCreated(); ?><br />
                <?php if($record->getDateUpdated()) { ?>
                    <strong>Updated: </strong><?php echo $record->getDateUpdated(); ?><br />
                <?php } ?>
             </div>
        </div>

        <div class="_right">
            <div class="record_content">
                <div class="record_date"><strong>Title: </strong><a class="title <?php echo ($record->getRead()) ? '' : 'unread'; ?>" href="../../record/<?php echo $record->getId(); ?>"><?php echo $this->escape($record->getTitle()); ?><a/>
                </div>
                <hr />
                <div class="record_text">
                    <?php echo $record->getContent(); ?>
                </div>
            </div>
            <div class="record_buttons">
                <a class="button1" href="../../record/<?php echo $record->getId(); ?>">Comments (<?php echo $record->getCommentCount(); ?>)</a>
            </div>
        </div>
    </div>
<?php
    }
}
?>
    
</div>
    
<div class="widget">
    <div class="online_users">
        <strong>Users online: </strong>
        <?php 
        if(!empty($this->online_users)) {
            foreach($this->online_users as $user) { ?>
                <div class="user_line">
                    <span class="_green">● </span><?php echo $this->escape($user->getFirstname()); ?> <?php echo $this->escape($user->getLastname()); ?>
                </div>
      <?php }
        }
      ?>
    </div>
</div>
    
<?php echo $this->paginationControl($this->records, 'Sliding', 'index_pagination.phtml'); ?>  
    
</div>



<script type="text/javascript">

// veikia tik page1;

$(document).ready(function() {
    var url = "<?php echo $this->baseUrl(); ?>";
    setInterval(function() {
        $('#update_timer').html('120');
        start_polling(url,"<?php echo $this->view_type; ?>", "<?php echo (!empty($this->page) && $this->page != 1) ? 10*($this->page-1) : 0; ?>");
        check_online(url);
    }, 120000);
    
    setInterval(function() {
        var timer = $('#update_timer');
        timer.html(timer.html()-1);
    }, 1000);

});

function text_size(s, uid, v) {
    var obj = (v) ? $('.forum_title') : $('.title');
    var csize = parseInt(obj.css('font-size'));
    if(!v) {
        var obj2 = $('.record_text');
    }
    if(s) {
        obj.css('font-size', csize+1);
        if(!v) {
            obj2.css('font-size', csize+1);
        }
    } else {
        obj.css('font-size', csize-1);
        if(!v) {
            obj2.css('font-size', csize-1);
        }
    }
    
}
</script>
