#backup_form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.filename_block {
    height: 42px;
    float: left;
    width: 252px;
}

#backup_form label {
    font-weight: bold;
}

.filename_block input {
    height: 25px;
    border: 1px solid #DDDDDD;
    background-color: #F5F5F5;
    margin-bottom: 10px;
    width: 250px;
}

.create_backup {
    padding-left: 15px;
    padding-top: 14px;
    height: 30px;
    float: left;
    width: 133px;
}

#Backup, #Delete {
    margin-bottom: 0px;
    cursor: pointer;
    background-color: #F1EFF0;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    color: #0066CC;
    font-size: 12px;
}

.backups_block {
    margin-top: 15px;
    float: left;
    width: 252px;
}

.backups_block select {
    width: 252px;
    height: 200px;
}

.delete_backup {
    float: left;
    width: 133px;
    padding-top: 28px;
    padding-left: 15px;
}
