body {
    margin: 0px;
    padding: 0px;
    width:100%;
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    color: #484848;
    background-color: #F1EFF0;
}

.wrapper {
    width: 961px;
    margin: 0px auto 10px auto;
}

.container {
    float: left;
    width: 938px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #CCC;
    padding: 10px;
    margin-bottom: 10px;
}

.widget {
    float: left;
    width: 1px;
}

.online_users {
    display: none;
    position: absolute;
    margin-left: 5px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #CCC;
    padding: 15px 10px;
    width:150px;
    float: right;
    text-align: center;
}

.online_users .user_line {
    text-align: left;
    margin-top: 5px;
}

.top_row {
    width: 100%;
    height: 35px;
    margin: 0px;
    background-color: #509BBB; /* #1c94c4; */
    border-bottom: 1px solid #2D80A4;
}

.bottom_row {
}

.header {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.logo {
    height: 25px;
    float: left;
    width: 560px;
    color: white;
    padding: 5px 0px 5px 0px;
}

.logo h2 {
    margin: 0px;
    width: 220px;
    float: left;
}

.logo h2 a {
    text-decoration: none;
    color: white;
}

.emergency_counter {
    width: 20px;
    color: #980000;
    margin-right: 3px;
}

.header_r {
    background-color: #F1EFF0;
    height: 15px;
    padding: 5px;
    float: right;
    font-weight: bold;
    text-align: center;
    text-align: center;
    border: 1px solid #2D80A4;
    border-radius: 5px;
    margin-top: 4px;    
}

.logged {
    width: auto;
    color: #484848;
}

.buttons_row {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 36px;
}

.buttons_row ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.buttons_row li {
    float: left;
    padding: 5px 0px;
}

.buttons_row ul._left li {
    margin-right: 15px;
}

.buttons_row ul._right li {
    margin-left: 15px;
}

.buttons_row a {
    padding: 5px;
    text-align: center;
    color: #0066CC;
    background-color: white;
    display: block;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    text-decoration: none;
    text-indent: 20px;      
}

#switch_button {
    background-image: url('../img/icons/switch16.png');
    background-repeat: no-repeat;
    background-position: left center;      
}

#back_button {
    background-image: url('../img/icons/back16.png');
    background-repeat: no-repeat;
    background-position: left center;       
}

#show_online {
    background-image: url('../img/icons/users16.png');
    background-repeat: no-repeat;
    background-position: left center;
}

#update_timer {
    background-image: url('../img/icons/gear16.png');
    background-repeat: no-repeat;
    background-position: left center;
}

._green {
    color: green;
}

.pagination {
    float: left;
    padding: 10px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 938px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    height: 15px;
    margin-bottom: 10px;
}

.forum_line {
    display: inline-block;
    padding: 5px 0px;
    width: 100%;
}

.forum_line:nth-child(2n) {
    background-color: #F6F6F6;
}

.forum_head {
    font-weight: bold;
    color: #484848;
}

.forum_title {
    word-wrap: break-word;
    float: left;
    width: 518px;
}

.forum_title a, .title {
    color: #0066CC;
    text-decoration: none;
}

.unread {
    font-weight: bold;
}

.forum_title a:hover {
    color: #000000;
}

.forum_author, .forum_date, .forum_last, .forum_counter {
    float: left;
    text-align: center;
}

.forum_author {
    width: 120px;
}

.forum_date {
    width: 140px;
}

.forum_last {
    width: 120px;
}

.forum_counter {
    width:40px;
}

.post_type {
    font-weight: bold;
}

.paginationControl {
    color: #484848;
}

.paginationControl span {
    font-weight: bold;
}


/* records in short view */

.record {
    background-color: #F1EFF0;
    border-radius: 5px;
    border: 1px solid #CCC;
    width: 916px;
    padding: 10px;
    height: auto;
    display: inline-block;
    margin-bottom: 10px;
}

.record_author {
    width: 180px;
    margin-right: 10px;
}

.record_content {
    width: 726px;
}

hr {
    border-color: #CCC;
    border-style: solid none none;
    border-width: thin;
    padding: 0px;
    margin: 2px 0px;
}

.reply_button {
    float: right;
}

.menu {
    float: right;
}

._left {
    float: left;
}

._right {
    float: right;
}

.record_buttons {
    margin-top: 10px;
    float: right;
}

a.button1 {
    width: 90px;
    padding: 3px 5px 3px 5px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #DDDDDD;    
    color: #0066CC;
    display: block;
    text-decoration: none;
}

.global_nav {
    list-style: none;
    padding: 0px;
    margin: 0px 0px 0px 20px;
    float: left;
}

.global_nav li {
    float: left;
    margin-right: 10px;  
    border-radius: 5px;
}

.global_nav li a {
    color: white;
    text-decoration: none;
    height: auto;
    width: auto;
    padding: 5px;    
    display: block;
    border-radius: 5px;      
}

.global_nav li:hover {
    background-color: #2D80A4;
}

.active {
    background-color: #2D80A4;
}

.comment_form {
    margin-left: auto;
    margin-right: auto;
    width: 505px;
    height: auto;
}

.comment_form label {
    color: #484848;
    font-weight: bold;
}

.submit_button {
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: right;
}

#Submit, #Close {
    margin-bottom: 0px;
    cursor: pointer;
    background-color: #F1EFF0;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    color: #0066CC;
    font-size: 12px;
}

._red {
    color: #980000;
    font-weight: bold;
}

._green {
    color: #006600;
    font-weight: bold;
}

.online {
    color: #009900;
    font-weight: bold;
}


.highlight {
    background-color: #BBB;
}

#text_up {
    background-image: url('../img/icons/plus16.png');
}

#text_down {
    background-image: url('../img/icons/minus16.png');
}

#text_up, #text_down {
    background-position: center center;
    background-repeat: no-repeat;    
    float: left;
    margin-right: 5px;
    color: #484848;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
    height: 15px;
    width: 15px;
}