body {
    background-color: #F1EFF0;
    font-family: Helvetica,Arial,Tahoma,serif;
    font-size: 14px;    
}

.wrapper {
    border-radius: 5px;    
    margin-top: 10%;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    position: relative;
    width: 400px;
    /*height:260px;*/
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.login {
}

.logo {
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 310px;
    background-image: url('../img/logo.gif');
    background-repeat: no-repeat;
}

.zend_form {
    text-align: center;
}    

.zend_form input {
    border: 1px solid #DDDDDD;
    background-color: #F5F5F5;
    height: 25px;
    text-indent: 5px;
    width: 200px;
}

#password-label {
    margin-top: 30px;
}

.errors {
    list-style: none;
    padding: 0px;
    font-size: 12px;
    color: red;
}

#submit-element {
    padding: 0px;
    margin: 0px;
}

#submit {
    text-indent: 0px;
    padding: 0px;
    width: 80px;
    height: 30px;
    color: #0066CC;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {

}