.post {
    background-color: #F1EFF0;
    border-radius: 5px;
    border: 1px solid #CCC;
    width: 916px;
    padding: 10px;
    height: auto;
    display: inline-block;
    margin-bottom: 10px;
}

#record {
    border: 1px solid #AAA;
    background-color: #DDD;
}

#title {
    height: 25px;
    border: 1px solid #DDDDDD;
    background-color: #F5F5F5;
    width: 600px;
}

.post_author {
    width: 180px;
    margin-right: 10px;
}

.post_date_buttons {
    width: 726px;
    height:25px;
}
.post_date {
    float: left;
    width: 446px;
}

.post_buttons {
    width: 280px;
    float: right;
}

.post_buttons a {
    float: right;
    margin-left: 5px;
}

.post_content {
    float: left;
    width: 726px;
}

.post_text {
    word-wrap: break-word;
}

hr {
    border-color: #CCCe;
    border-style: solid none none;
    border-width: thin;
    padding: 0px;
    margin: 2px 0px;
}

.menu {
    float: right;
}

.record_title h2 {
    word-wrap: break-word;
    margin-top: 0px;
}

.record_form {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#title {
    text-indent: 5px;
}

.record_form input, .record_form textarea {
    margin-bottom: 10px;
}

.required, .optional {
    font-weight: bold;
}

#comment_button {
    background-image: url('../img/icons/pencil32.png');
    background-repeat: no-repeat;
    background-position: left center;
}