div.search_form {
    width: 365px;
    margin-left: auto;
    margin-right: auto;
}

div.search_form input, .mail_form input {
    height: 25px;
    border: 1px solid #DDDDDD;
    background-color: #F5F5F5;
    margin-bottom: 10px;
}

#keywords, #date_from, #date_to {
    width: 363px;
    text-indent: 5px;
}

#authors {
    margin-bottom:10px;
    height: 25px;
}

.optional, .required {
    font-weight: bold;
}

.result_options {
    float: left;
    padding: 10px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 938px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    height: 22px;
}

.result_options ul {
    float: right;
    display: inline-block;
    text-align: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.result_options li {
    float: left;
    margin-left: 5px;
}

.mail_form {
    display: none;
    z-index: 99;
    position: absolute;
    width: 405px;
    height: 440px;
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 5px;
    top: 10%;
    left: 37%;
    background-color: white;
    box-shadow: 0px 0px 15px black;
}

.mail_form input {
    width: 403px;
}

.mail_form #content {
    width: 400px;
    height: 200px;
}

.submit_button, .close_button {
    float: right;
    margin-left: 15px;
}

.close_button {
    margin-top: 10px;
}

.no_results {
    text-align: center;
    font-weight: bold;
}
