.users {
    width: 810px;
    margin-left: auto;
    margin-right: auto;
}

.user_head {
    color: #484848;
    font-weight: bold;
    text-align: center;
}

.user_line {
    display: inline-block;
    padding: 5px 0px;
    width: 100%;
}

.user_line:nth-child(2n) {
    background-color: #F6F6F6;
}

.firstname {
    width: 120px;
}

.lastname {
    width: 120px;
}

.username {
    width: 70px;
}

.firstname, .lastname, .username {
    float: left;
    text-align: left;
}

.role {
    float: left;
    width: 70px;
}

.role, .date_created, .date_logged {
    text-align: center;
}

.date_created, .date_logged{
    float: left;
    width: 140px;
}

.user_edit, .user_delete {
    float:left;
    padding: 0px 5px;
}

.user_line button {
    width: 65px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #DDDDDD;    
    color: #0066CC;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

#new_user {
    text-indent: 0px;
    font-weight: bold;
}

.user_form {
    width: 302px;
    margin-left: auto;
    margin-right: auto;
}

#firstname, #lastname, #username, #password1, #password2 {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    height: 25px;
    margin-bottom: 10px;
    width: 300px;
    text-indent: 5px;
}

.user_form label {
    font-weight: bold;
}

#submit {
}