<?php 
if ($this->pageCount > 1): ?>
    <div class="pagination">
        <div class="paginationControl">
            <span>Pages: </span>
        <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
            <?php 
            $pos = strpos($_SERVER['REQUEST_URI'], 'page');
            $url = ($pos != -1) ? substr($_SERVER['REQUEST_URI'], 0, $pos) : $_SERVER['REQUEST_URI'];
            $params = (strpos($_SERVER['REQUEST_URI'], '?')) ? substr($_SERVER['REQUEST_URI'],strpos($_SERVER['REQUEST_URI'], '?')) : '';
            ?>
            <a href="<?php echo $url.'page/'.$page.'/'.$params; ?>"><?php echo $page; ?></a> | 
            <?php else: ?>
                <?php echo $page; ?> |
            <?php endif; ?>
        <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>