<div class="wrapper">
    <div class="container" style="margin-top: 10px;">
        <div class="record_form">
            <?php echo $this->record_form; ?>
        </div>
    </div>
</div>


<script type="text/javascript">

$(document).ready(function() {
    editor('content',600, 300);
});

</script>