<div class="buttons_row">
    <ul style="float: left">
        <li>
            <a id="back_button" href="<?php echo $this->baseUrl().'/record/'.$this->id; ?>" class="btn">Back</a>
        </li>
    </ul>
</div>

<div class="wrapper">
    <div class="container">
        <div class="record_form">
            <?php echo $this->record_form;?>
        </div>
    </div>
</div>

<script type="text/javascript">

$(document).ready(function() {
    editor('content',600, 300);
});

</script>