<?php 
$session = Zend_Session::namespaceGet('Zend_Auth');
$session = $session['storage'];
?>
<div class="buttons_row">
    <ul style="float: left">
        <li>
            <a id="back_button" href="<?php echo $this->baseUrl(); ?>/<?php echo ($session->view_mode) ? 'view/full/' : '' ?>" class="btn">Back</a>
        </li>
    </ul>
    <ul style="float: right">
        <li>
            <a id="comment_button" href="#comment_form" class="btn">Comment</a>
        </li>
    </ul>
</div>

<div class="wrapper">
<div class="container">

<div class="record_title">
    <h2>Title: <?php echo $this->escape($this->record->getTitle()); ?></h2>
</div>

<div id="record" class="post">
    <div class="_left">
        <div class="post_author">
            <strong><?php echo $this->escape($this->record->getUserName()); ?></strong><br />
            <?php echo ($this->record->getUserOnline()) ? '<span class="online">Online</span>': ''; ?>
            <!-- <strong>Joined: </strong><?php // echo $this->record->getUserJoinDate(); ?><br />
            <strong>Posts: </strong><?php // echo $this->record->getUserPostCount(); ?>-->
         </div>
    </div>
    
    <div class="_right">
        <div class="post_content">
            <div class="post_date_buttons">
                <div class="post_date">Posted: <?php echo $this->escape($this->record->getDateCreated()) ?></div>
                <?php if($this->record->getUserId() == $this->identity->id || in_array($this->identity->role, array('1', '2'))) {  ?>                
                <div class="post_buttons">
                    <a style="width: 60px;" onclick="aconfirm('record', this, event, '<?php echo $this->url(); ?>/delete')" href="#" class="button1">Delete</a>
                    <a style="width: 60px;" href="<?php echo $this->url()."/edit"; ?>" class="button1">Edit</a>                        
                </div>
                <?php } ?>   
            </div>
            <hr />
            <div class="post_text">
                <?php
                $content = $this->record->getContent();
                if(!empty($this->keywords)) {
                    $keywords = explode('|', $this->keywords);
                    foreach($keywords as $keyword) {
                        $content = str_ireplace($keyword, '<span style="background-color: #CC99FF;">'.$keyword.'</span>', $content);
                    }
                }
                echo $content; 
                ?>
            </div>
        </div>
    </div>
</div>

<?php
if(!empty($this->comments)) {
    foreach($this->comments as $comment) { ?>
        <div class="post">
            <div class="_left">
                <div class="post_author">
                    <strong><?php echo $this->escape($comment->getUserName()); ?></strong><br />
                    <?php echo ($comment->getUserOnline()) ? '<span class="online">Online</span>': ''; ?>
                    <!-- <strong>Joined: </strong><?php //echo $comment->getUserJoinDate(); ?><br />
                    <strong>Posts: </strong> <?php //echo $comment->getUserPostCount(); ?> -->
                </div>
            </div>
            <div class="_right">
                <div class="post_content">
                    <div class="post_date_buttons">
                        <div class="post_date">Posted: <?php echo $this->escape($comment->getDateCreated()) ?><?php echo (date('Y', strtotime($comment->getDateUpdated())) != '-0001' && $comment->getDateCreated() != $comment->getDateUpdated()) ? ' - Updated: '.$comment->getDateUpdated() : ''; ?></div>
                        <?php if($comment->getUserId() == $this->identity->id || in_array($this->identity->role, array('1', '2'))) {  ?>
                        <div class="post_buttons">
                            <a style="width: 60px;" onclick="aconfirm('comment', this, event, '<?php echo $this->url(); ?>/comment/<?php echo $comment->id; ?>/delete')" href="#" class="button1">Delete</a>                            
                            <a style="width: 60px;" href="<?php echo $this->url().'/comment/'.$comment->id ?>/edit" class="button1">Edit</a>
                        </div>
                     <?php } ?>
                    </div>
                <hr />
                <div class="post_text">
                <?php
                $content = $comment->getContent();
                if(!empty($this->keywords)) {
                    $keywords = explode('|', $this->keywords);
                    foreach($keywords as $keyword) {
                        $content = str_ireplace($keyword, '<span style="background-color: #CC99FF;">'.$keyword.'</span>', $content);
                    }
                }
                echo $content; 
                ?>
                </div>             
            </div>
            </div>
        </div>
<?php 
    }
}

?>
<hr />
<div class="comment_form">
    <?php echo $this->comment_form; ?>
</div>
    
</div>
</div>

<script type="text/javascript">

$(document).ready(function() {
    editor('comment', 500, 200);
});

function aconfirm(t, el, ev, url) {
    ev.preventDefault();
    var answer = confirm("Are you sure you want to delete this "+t+"?");
    if(answer) {
        window.location = url;
    } 
}

</script>