<div class="buttons_row">
    <ul style="float: left">
        <li>
            <a id="back_button" href="<?php echo $this->baseUrl().'/search/'; ?>" class="btn">Back</a>
        </li>
    </ul>
</div>

<div class="wrapper">
<div class="container">
<?php 
if((int)$this->kiekis > 0) {
?>
    <div class="forum_line">
        <div class="forum_head">
            <div class="forum_title">Title</div>
            <div class="forum_author">Started by</div>
            <div class="forum_date">Updated</div>
            <div class="forum_last">Last comment</div>
            <div class="forum_counter">Posts</div>
        </div>
    </div>

    <?php 
    $categories = array(1 => 'Important', 2 => 'Emergency');
    if(!empty($this->records)) {
        foreach($this->records as $record) { 
    ?>
    <div class="forum_line">
        <div class="forum_title">
            <?php if(in_array($record->getCategory(), array(1,2))) { ?> 
            <span class="post_type">
                <a <?php echo ($record->getCategory() == '2') ? 'style="color: #980000"' : 'style="color: #006600"'; ?> href="<?php echo $this->baseUrl().'/category/'.strtolower($categories[$record->getCategory()]); ?>"><?php echo $categories[$record->getCategory()] ?>
                </a> :
            </span>
            <?php } ?>
            <?php
            $title = $this->escape($record->getTitle());
            if(!empty($this->keywords)) {
                $keywords = explode('|', $this->keywords);
                foreach($keywords as $keyword) {
                    $title = str_ireplace($keyword, '<span style="background-color: #CC99FF;">'.$keyword.'</span>', $title);
                }
            }
            ?>
            <a class="<?php echo ($record->getRead()) ? '' : 'unread'; ?>" href="<?php echo $this->baseUrl().'/record/'.$record->getId(); ?><?php echo (!empty($this->keywords)) ? '/keywords/'.$this->keywords : ''; ?>"><?php echo $title;//$this->escape($record->getTitle()); ?></a>
        </div>
        <div class="forum_author"><?php echo $this->escape($record->getUserName()); ?></div>
        <div class="forum_date"><?php echo $record->getDateCreated(); ?></div>
        <div class="forum_last"><?php echo ($record->getLastPoster()) ? $record->getLastPoster(): '-'; ?></div>
        <div class="forum_counter"><?php echo $record->getCommentCount(); ?></div>
    </div>      
    <?php 
        }
    }
?>

</div>

<?php echo $this->paginationControl($this->records, 'Sliding', 'index_pagination.phtml'); ?>    
 
<div class="result_options">
    <ul>
        <li>
            <a href="<?php echo $this->baseUrl().'/search/pdf/'.$this->params.'&s=0'; ?>" class="button1">Print</a>
        </li>
        <li>
            <a href="javascript: open_mail_form();" class="button1">Mail</a>
        </li>
<!--        <li>
            <a href="#" class="button1">Export</a>
        </li>-->
    </ul>
</div>

<div class="mail_form">
    <input type="hidden" name="params" value="<?php echo $this->params; ?>" id="params"/>
    <?php echo $this->mail_form; ?>
</div>
</div>
<?php 
} else {
?>

<div class="no_results">Your search did not match any records</div>


<?php } ?>


