<div class="buttons_row">
    <ul style="float: left">
        <li>
            <a id="back_button" href="<?php echo $this->baseUrl().'/user/'; ?>" class="btn">Back</a>
        </li>
    </ul>
</div>

<div class="wrapper">
<div class="container">
    <div class="user_form">
        <?php echo $this->user_form; ?>
    </div>
</div>
</div>