<div class="buttons_row">
    <ul style="float: left">
        <li>
            <a id="new_user" href="<?php echo $this->baseUrl().'/user/add'; ?>" class="btn">New user</a>
        </li>
    </ul>
</div>


<div class="wrapper">
<div class="container">
    <div class="users">
<div class="user_line">
    <div class="user_head">
        <div class="firstname">Firstname</div>
        <div class="lastname">Lastname</div>
        <div class="username">Username</div>
        <div class="role">Role</div>
        <div class="date_created">Date created</div>
        <div class="date_logged">Last logged</div>
        <div class="user_edit"></div>
        <div class="user_delete"></div>
    </div>
</div>
    
<?php 
if(!empty($this->users)) {
    $roles = array(1 => 'Administrator', 2 => 'Editor', 3 => 'Viewer');
    foreach($this->users as $user) { ?>
        <div class="user_line">
            <div class="firstname"><?php echo $this->escape($user->getFirstname());  ?></div>
            <div class="lastname"><?php echo $this->escape($user->getLastname()); ?></div>
            <div class="username"><?php echo $this->escape($user->getUsername()); ?></div>
            <div class="role"><?php echo $roles[$user->getRole()]; ?></div>
            <div class="date_created"><?php echo $this->escape($user->getDateCreated()); ?></div>
            <div class="date_logged"><?php echo ($user->getDateCreated() != $user->getDateLogged()) ? $this->escape($user->getDateLogged()) : '-'; ?></div>
            <div class="user_edit"><form method="POST" action="<?php echo $this->baseUrl(); ?>/user/edit"><input type="hidden" name="_uid_" value="<?php echo $user->getId(); ?>" /><button class="button1" type="submit">Edit</button></form></div>
            <div class="user_delete"><form method="POST" action="<?php echo $this->baseUrl(); ?>/user/delete"><input type="hidden" name="_uid_" value="<?php echo $user->getId(); ?>" /><button onclick="bconfirm(this);" type="button">Delete</button></form></div>
</div>

<?php }
}
?>
    </div>
</div>
</div>

<script type="text/javascript">

function bconfirm(e) {
    var answer = confirm('Are you sure you want to delete this user?');
    if(answer) {
        e.form.submit();
    }
}

</script>