<div class="container" style="margin-top: 10px;">
    <div class="users">
<div class="user_line">
    <div class="user_head">
        <div class="firstname">Firstname</div>
        <div class="lastname">Lastname</div>
    </div>
</div>
    
<?php 
if(!empty($this->users)) {
    $roles = array(1 => 'Administrator', 2 => 'Editor', 3 => 'Viewer');
    foreach($this->users as $user) { ?>
        <div class="user_line">
            <div class="firstname"><?php echo $this->escape($user->getFirstname());  ?></div>
            <div class="lastname"><?php echo $this->escape($user->getLastname()); ?></div>
        </div>

<?php }
}
?>
    </div>
</div>