<?php 
$roles = array(1 => 'Administrator', 2 => 'Editor', 3 => 'Viewer'); 
$session = Zend_Session::namespaceGet('Zend_Auth');
$session = $session['storage'];
?>
<!DOCTYPE html>
<html>
    <link href="<?php echo $this->baseUrl(); ?>/css/global.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/jquery.js"></script>    
    <?php echo $this->headLink(); ?>
    <?php echo $this->headScript(); ?>
    <head>
        <title>Kim Johansen | Service Desk Online Log</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body onload="log_user();">
        <div class="top_row">
            <div class="header">
                <div class="logo">
                    <h2><a href="<?php echo $this->baseUrl(); ?>/">Service Desk Online Log</a></h2>
                    <ul class="global_nav">
                        <li>
                            <a href="<?php echo $this->baseUrl(); ?>/<?php echo ($session->view_mode) ? 'view/full/' : ''; ?>" class="<?php echo $this->isActive('index', 'index'); ?>">Home</a>
                        </li>
                        <li>
                            <a href="<?php echo $this->baseUrl(); ?>/record/add" class="<?php echo $this->isActive('record', 'add'); ?>">New Record</a>
                        </li>
                        <li>
                            <a href="<?php echo $this->baseUrl(); ?>/search/" class="<?php echo $this->isActive('search', 'index'); ?>">Search</a>
                        </li>
                        <?php if($session->role == '1') { ?>
                        <li>
                            <a href="<?php echo $this->baseUrl(); ?>/user/" class="<?php echo $this->isActive('user', 'index'); ?>">Users</a>
                        </li>
                        <li>
                            <a href="<?php echo $this->baseUrl(); ?>/backup/" class="<?php echo $this->isActive('backup', 'index'); ?>">Backups</a>
                        </li>
                        <?php } ?>
                    </ul>
                    
                </div>
                <div class="header_r logged"><?php echo $session->firstname.' '.$session->lastname; ?> | <a href="<?php echo $this->baseUrl(); ?>/logout">Logout</a></div> 
                <div class="header_r emergency_counter" title="Emergencies in the past 24 hours"><a style="text-decoration: none; color: #980000" href="<?php echo $this->baseUrl(); ?>/search/last24"><?php echo $this->emergencyCounter(); ?></a></div>                
                </div>
            </div>
        </div>
        <div class="bottom_row">
            <?php echo $this->layout()->content; ?>
        </div>
    </body>
</html>

<script type="text/javascript">

function log_user() {
    setInterval(function() {
        $.post(
            "<?php echo $this->baseUrl(); ?>/ajax/logged/", 
            { uid : <?php echo $session->id; ?>},
            function() {
            }
        );
    }, '120000')
}

</script>
