<!DOCTYPE html>
<html>
    <head>
        <title>Kim Johansen | Service Desk Online Log | Login</title>
        <?php echo $this->headLink(); ?>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div class="wrapper">
            <div class="login">
                <?php echo $this->layout()->content ?>
            </div>
        </div>
    </body>
</html>
